<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Home | Page</title>
</head>
<body>

	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam accusantium eveniet non officia distinctio voluptatem dolore earum sequi nostrum dignissimos!</p>
		
		<button class="btn bg-primary btn-lg text-white"> GET START</button>
		
		</div>
	</section>

</body>
</html>